button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 3rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: solid rgb(167, 167, 167) 1px;
  cursor: pointer;
}

.quotes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.voteBtn{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}